<nav class="navbar navbar-dark bg-dark">
  <div class="container">
      
    <div class="input-group">
          <span>Supermercado</span> 
          <input type="text" [(ngModel)]="searchText"  placeholder=" Buscar en Supermercado" aria-label="Username" aria-describedby="basic-addon1">
          <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"></span>
          </div>
    </div>
  </div>
</nav>
<div class="row">
  
  <li *ngFor="let producto of productos| filter : searchText">
      <div *ngIf="producto.descuento===true">
          <span class="oferta">{{producto.oferta}}%</span>
        </div>
<img class="card-img-top" src="{{producto.imagen}}" alt="{{producto.nombre}}">

  <div class="card-body">
    <h5 class="card-title">{{producto.nombre}}</h5>
    
    
    <div *ngIf="producto.descuento===true">
        <p class="card-text" class="tachado">Precio:{{producto.precio}}€</p>
      <span class="final">Precio final:{{producto.precio*(1-producto.oferta/100)}}€</span>
      <div>
      <span>Cantidad:</span><button type="button" (click)="rest(producto)">-</button>{{producto.cantidad}}<button type="button" (click)="sum(producto)">+</button>
      <br>
      <a href="#" class="btn btn-primary">Añadir Carro</a>
    </div> 
    </div>
    <div *ngIf="producto.descuento===false">
        <p class="card-text">Precio:{{producto.precio}}€</p>
        
    
        <span>Cantidad:</span><button type="button" (click)="rest(producto)">-</button>{{producto.cantidad}}<button type="button" (click)="sum(producto)">+</button>
        <br>
        <a href="#" class="btn btn-primary">Añadir Carro</a>
      </div>
  </div>
</li> 



<br>
    
    
  



</div>